{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="icon" href="{% static ' images/bb_logo(black).png' %}" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<title>Start Saving Lives </title>

<body>
    <header>
        <nav>
            <div class="header-logo"><img src="{% static 'images/lslogo.png' %}"></div>
            <div class="header-list">
                <ul>
                    <li><a href="help.html">Connect</li></a>
                    <li><a href="donate.html">Donate</li></a>
                    <li><a href="index.html#vol-sect">Volunteer</li></a>
                    <li><a href="index.html#about-us">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="inner">
        <div class="photo">
            <img src="{% static 'images/regphoto.png' %}">
        </div>
        <div class="user-form">
            <h1>Start Saving Lives</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <script src="./Register.js"></script>
</body>

</html>